%h3
	Update Client
= form_for(:client, :url => {:action => "update", id: @client.id}) do |f|
	
	= render(:partial => "form", :locals => {:f => f})

	= submit_tag("Update Client", class: "btn btn-medium btn-edit-client")